doctype html
html lang="en"
  head
    meta charset="utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
    link rel="stylesheet" href="../dist/css/bootstrap.min.css"
    link rel="stylesheet" href="../dist/plugins/jqvmap/css/jqvmap.min.css"
    link rel="stylesheet" href="../dist/css/general.min.css"
    title Cellular Connectivity for the Internet of Things | Hologram

    body.page-store
      nav.navbar-main
        .navbar-main-container

          a.navbar-main-brand href="#"
            i.navbar-main-brand-icon.icon.icon-logo
            i.navbar-main-brand-icon-text.icon.icon-logo-text

          .navbar-main-content
            .navbar-main-mobile-header
              a.navbar-main-brand href="#"
                i.navbar-main-brand-icon.icon.icon-logo
                i.navbar-main-brand-icon-text.icon.icon-logo-text

              button(data-close-navbar-main class="navbar-main-mobile-header-btn btn" type="button")
                i.icon.icon-close

            ul.navbar-main-nav
              li.navbar-main-nav-item
                a.navbar-main-nav-link href="#" Cellular IoT
              li.navbar-main-nav-item
                a.navbar-main-nav-link href="#" Why Hologram
              li.navbar-main-nav-item
                a.navbar-main-nav-link href="#" Resources
              li.navbar-main-nav-item
                a.navbar-main-nav-link href="#" Pricing
              li.navbar-main-nav-item
                a.navbar-main-nav-link href="#" Store
            .navbar-main-multirow
              .navbar-main-multirow-item
                i.icon.icon-phone
                span.navbar-main-multirow-title GLOBAL SALES
              .navbar-main-multirow-item
                a.navbar-main-multirow-link href="tel:+18889804758" +1 888-980-4758

          .navbar-main-content-btn
            a.navbar-main-btn.btn.btn-outline-primary href="#" Shop Now
            a.navbar-main-btn.btn.btn-primary href="#" Sign In

            button(data-open-navbar-main class="btn navbar-main-toggler" type="button")
              span.navbar-main-toggler-item
              span.navbar-main-toggler-item
              span.navbar-main-toggler-item

      section.section-cart
        .section-container
          .section-cart-box
            .row
              .col-lg-6
                .tab-content.tab-content-img
                  .tab-pane.active.tab-1
                    a.section-cart-img-link href="#"
                      img.section-cart-img src="img/cart-sim-1.jpg" alt=""

                  .tab-pane.tab-2
                    a.section-cart-img-link href="#"
                      img.section-cart-img src="img/cart-sim-2.jpg" alt=""

                  .tab-pane.tab-3
                    a.section-cart-img-link href="#"
                      img.section-cart-img src="img/cart-sim-1.jpg" alt=""
              .col-lg-5
                .row
                  .col-9
                    .tab-content
                      .tab-pane.active.tab-1
                        h1.section-cart-heading
                          a href="#" Global IoT SIM Card
                        .section-cart-subheading
                          | The Hologram Global SIM Card. Comes in a variety of sizes for the perfect connectivity solution. Pick your data plan when you go to activate your SIM.
                        a.section-cart-link href="#"
                          i.fa-icon.fal.fa-info-circle
                          | Details &amp; specs

                      .tab-pane.tab-2
                        h1.section-cart-heading
                          a href="#" Global IoT SIM Card
                        .section-cart-subheading
                          | Industrial grade Hologram Global SIM Card. Ruggedized for harsh environments and devices that require increased reliability and longer lifespan.
                        a.section-cart-link href="#"
                          i.fa-icon.fal.fa-info-circle
                          | Details &amp; specs

                      .tab-pane.tab-3
                        h1.section-cart-heading
                          a href="#" Global IoT SIM Card
                        .section-cart-subheading
                          | Pack of 10 standard Hologram Global SIMs with free shipping to scale your IoT deployments and connectivity.
                          br
                          strong Ships Free
                        a.section-cart-link href="#"
                          i.fa-icon.fal.fa-info-circle
                          | Details &amp; specs
                  .col-3
                    .tab-content
                      .tab-pane.active.tab-1
                        .section-cart-price $5

                      .tab-pane.tab-2
                        .section-cart-price $6

                      .tab-pane.tab-3
                        .section-cart-price $45

                hr.section-cart-hr

                .row
                  .col-9
                    .section-cart-title TYPE
                    .nav
                      .nav-item
                        a.nav-link.active (data-tab href=".tab-1") Combo Mini/Micro/Nano SIM 5$
                      .nav-item
                        a.nav-link (data-tab href=".tab-2") Industrial Grade SIM 6$
                      .nav-item
                        a.nav-link (data-tab href=".tab-3") 10 Combo Mini/Micro/Nano SIMs 45$

                    .section-cart-title QTY
                    .row
                      .col-3
                        input.form-control type="text" value="1"
                      .col.px-0
                        button.btn.btn-primary type="button" Add to cart





          .row
            .col-lg-6
              .section-cart-box.section-cart-box-sm
                a.section-cart-img-link href="#"
                  img.section-cart-img-sm src="img/cart-sim-sm.jpg" alt=""

                .row
                  .col-9
                    h1.section-cart-heading
                      a href="#" Global IoT SIM Card
                  .col-3
                    .section-cart-price FREE

                .section-cart-subheading
                  | A free Hologram Global SIM Card for our Pilot Plan which includes 1MB/month free. Available for use on both Professional and Maker Editions. Get started with cellular IoT with Hologram's Pilot Plan.
                a.section-cart-link href="#"
                  i.fa-icon.fal.fa-info-circle
                  | Details &amp; specs

                hr.section-cart-hr

                .row
                  .col-6.col-md-7
                    .section-cart-title TYPE
                    .section-cart-option Combo Mini/Micro/Nano SIM
                  .col-6.col-md-5
                    .section-cart-title QTY
                    .row
                      .col-4
                        .section-cart-option Limit 1
                      .col-8
                        button.btn.btn-primary type="button" Add to cart
            .col-lg-6
              .section-cart-box.section-cart-box-sm
                a.section-cart-img-link href="#"
                  img.section-cart-img-sm src="img/cart-usb.jpg" alt=""

                .row
                  .col-9
                    h1.section-cart-heading
                      a href="#" Global IoT SIM Card
                  .col-3
                    .section-cart-price $64

                .section-cart-subheading
                  | The Hologram Nova Global LTE-M & NB-IoT now available. Experience the future of cellular IoT access technologies (For US - Verizon, AT&T certified).
                a.section-cart-link href="#"
                  i.fa-icon.fal.fa-info-circle
                  | Details &amp; specs

                hr.section-cart-hr

                .row
                  .col-6.col-md-7
                    .section-cart-title TYPE
                    .nav
                      .nav-item
                        span.nav-link 3G/2G (U201) - out of stock
                      .nav-item
                        a.nav-link.active href="#" LTE-M & NB-IoT (R410) $64
                  .col-6.col-md-5
                    .section-cart-title QTY
                    .row
                      .col-4
                        .section-cart-option Limit 1
                      .col-8
                        button.btn.btn-primary type="button" Add to cart

          .row
            .col-lg-6
              .section-cart-help Need help or bulk pricing?
            .col-lg-6
              a.btn.btn-outline-secondary-light.btn-sale href="#" Contact Sales

      footer.footer-main
        .footer-main-top
          .section-container
            .footer-main-top-row
              .footer-main-top-col.footer-main-top-col-logo
                i.icon.icon-logo
              .footer-main-top-col
                .footer-main-top-nav-title GET CONNECTED
                .footer-main-top-nav
                  a.footer-main-top-nav-link href="#" Cellular Data
                  a.footer-main-top-nav-link href="#" Dashboard
                  a.footer-main-top-nav-link href="#" IoT SIM Card
                  a.footer-main-top-nav-link href="#" Hologram Nova
                  a.footer-main-top-nav-link href="#" See Supported Hardware



              .footer-main-top-col
                .footer-main-top-nav-title RESOURCES
                .footer-main-top-nav
                  a.footer-main-top-nav-link href="#" Using Hologram
                  a.footer-main-top-nav-link href="#" Coverage Map
                  a.footer-main-top-nav-link href="#" Help Center
                  a.footer-main-top-nav-link href="#" Support

              .footer-main-top-col
                .footer-main-top-nav-title PRICING
                .footer-main-top-nav
                  a.footer-main-top-nav-link href="#" Professional
                  a.footer-main-top-nav-link href="#" Maker
                  a.footer-main-top-nav-link href="#" Compare Editions
              .footer-main-top-col
                .footer-main-top-nav-title DEVELOPERS
                .footer-main-top-nav
                  a.footer-main-top-nav-link href="#" Docs
                  a.footer-main-top-nav-link href="#" Community
                  a.footer-main-top-nav-link href="#" Projects
                  a.footer-main-top-nav-link href="#" Open Source
              .footer-main-top-col
                .footer-main-top-nav-title COMPANY
                .footer-main-top-nav
                  a.footer-main-top-nav-link href="#" About us
                  a.footer-main-top-nav-link href="#" Blog
                  a.footer-main-top-nav-link href="#" Partnerships
                  a.footer-main-top-nav-link href="#" Careers
                  a.footer-main-top-nav-link href="#" Sitemap

            .footer-main-top-row.footer-main-top-row-social
              .footer-main-top-col
                .footer-main-top-nav-title FOLLOW US
                .footer-main-top-nav.footer-main-top-nav-inline
                  a.footer-main-top-nav-link.footer-main-top-nav-link-social href="#"
                    i.icon.icon-logo-facebook
                  a.footer-main-top-nav-link.footer-main-top-nav-link-social href="#"
                    i.icon.icon-logo-twitter
                  a.footer-main-top-nav-link.footer-main-top-nav-link-social href="#"
                    i.icon.icon-logo-linkedin
                  a.footer-main-top-nav-link.footer-main-top-nav-link-social href="#"
                    i.icon.icon-logo-github
        .footer-main-bottom
          .section-container
            .footer-main-bottom-row
              .footer-main-bottom-col
                small.footer-main-bottom-copyright &copy; 2019 Hologram
                .footer-main-bottom-nav
                  a.footer-main-bottom-nav-link href="#" Terms
                  a.footer-main-bottom-nav-link href="#" Privacy
              .footer-main-bottom-col
                .footer-main-bottom-nav
                  a.footer-main-bottom-nav-link href="#" System status


    script src="../dist/js/jquery.min.js"
    script src="../dist/js/bootstrap.bundle.min.js"
    script src="https://kit.fontawesome.com/ec0ec8ed47.js" crossorigin="anonymous"
    script src="../dist/js/general.min.js"
    script src="js/page.min.js"

