$icomoon-font-family: "fonticon" !default;
$icomoon-font-path: "#{$path-global}/font/fonticon" !default;


$icon-lightning: "\e90c";
$icon-globe-man: "\e90e";
$icon-arrow-right-short: "\e90a";
$icon-gear-2: "\e90b";
$icon-refresh: "\e90d";
$icon-logo-text: "\e909";
$icon-close: "\e908";
$icon-angle-right: "\e900";
$icon-arrow-right: "\e901";
$icon-logo: "\e902";
$icon-logo-facebook: "\e903";
$icon-logo-linkedin: "\e904";
$icon-logo-twitter: "\e905";
$icon-logo-github: "\e906";
$icon-phone: "\e907";


@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?k1t6uy') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?k1t6uy') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?k1t6uy##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.icon {
  vertical-align: middle;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lightning {
  &:before {
    content: $icon-lightning;
  }
}
.icon-globe-man {
  &:before {
    content: $icon-globe-man;
  }
}
.icon-arrow-right-short {
  &:before {
    content: $icon-arrow-right-short;
  }
}
.icon-gear-2 {
  &:before {
    content: $icon-gear-2;
  }
}
.icon-refresh {
  &:before {
    content: $icon-refresh;
  }
}
.icon-logo-text {
  &:before {
    content: $icon-logo-text;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-angle-right {
  &:before {
    content: $icon-angle-right;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}
.icon-logo {
  &:before {
    content: $icon-logo;
  }
}
.icon-logo-facebook {
  &:before {
    content: $icon-logo-facebook;
  }
}
.icon-logo-linkedin {
  &:before {
    content: $icon-logo-linkedin;
  }
}
.icon-logo-twitter {
  &:before {
    content: $icon-logo-twitter;
  }
}
.icon-logo-github {
  &:before {
    content: $icon-logo-github;
  }
}
.icon-phone {
  &:before {
    content: $icon-phone;
  }
}
